@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
}

.clicked {
  @apply border border-dashed border-black;
}

.firstClicked {
  @apply border border-dashed border-black;
}

.dealAnimationRight {
  transform: translateX(2px);
  transition: transform 0.3s ease-out;
}

.dealAnimationLeft {
  transform: translateX(-1.5px);
  transition: transform 0.3s ease-in;
}

.carouselArrowAnimationRight {
  transform: translateX(8px);
  transition: transform 0.3s ease-out;
}

.carouselArrowAnimationLeft {
  transform: translateX(-8px);
  transition: transform 0.3s ease-in;
}

.productArrowAnimationRight {
  transform: translateX(3px);
  transition: transform 0.3s ease-out;
}

.productArrowAnimationLeft {
  transform: translateX(-3px);
  transition: transform 0.3s ease-out;
}
